.pokedex__container{
    width: 100vw;
}

.pokedex__span{
    color: var(--color-red2);
    font-weight: 700;
}

.header{
    position: relative;
}

.pokedexred__img{
    position: absolute;
        width: 250px;
        top: 62px;
        left: 20px;
    }
    
.card-container{
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 100px 40px ;
        justify-content: center;
        text-align: center;    
    }

    .pokedex__p{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

    .pokedex__aside{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        min-height: 150px;
        flex-wrap: wrap;
    }

    @media (min-width:700px) {
        .pokedexred__img{
            position: absolute;
                width: 450px;
                top: 32.2px;
                left: 20px;
            }
            .card-container{
                width: 100%;
                display:flex;
                flex-wrap: wrap;
                gap: 20px;
                padding: 100px 120px ;
                justify-content: center;
                text-align: center;    
            }
    }